.mid_block
{
	color:white;
	display:none;
}
*{
	text-transform: capitalize;
}
.rating_choice
{
	color:#000;
	padding:5px;
	margin-left:10px;
	margin-right:10px;
}
.send{
	color:#000;
	padding:5px;
	margin-left:10px;
	margin-right:10px;
}
.mail_view
{
	background-color:#101010;
	color:#aaa;
	margin-top:8px;
	padding:10px;
	font-size:15px;
	box-shadow: 0 8px 5px #000;
}
.mail_view:hover
{
	cursor:pointer;
	background-color:#ae6cac;
	color:white;
	font-size:18px;
}
.mail_containt
{
	padding:20px;
	color:black;
	background-color:white;
	display:none;
}